<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <style>
        html, body {
            height: 98%;
        }
    </style>
</head>
<body>
    <div style="text-align:center; background:#fff;height:100%;overflow:hidden">
        <div style="margin-top:7%;">
            <img src="~/images/welcome.png" />
        </div>
    </div>
</body>
</html>